<!DOCTYPE html> 
<html lang="en">
  <section class="background-image_about">
    <head>
    <title>The Art and Photography Works of Katie and Vincent Laguna</title>
  </head>
  <body>
    <div class="container"> 
      <div class="col-sm-11"> 
        <h3>The Art and Photography Works of Katie and Vincent Laguna</h3>
      </div> 
    </div> 
    <div class="col-sm-2"> 
      <%= link_to "Home", '/' %>
    </div> 
    <div class="col-sm-2"> 
      <%= link_to "Photography Gallery", '/pages/photo_gallery' %>
    </div>
    <div class="col-sm-2"> 
      <%= link_to "Art Gallery", '/pages/art_gallery' %>
    </div>
    <div class="col-sm-2"> 
      <a href="https://www.ownlittleworldartistry.com/" target="">Own Little World Artistry</a> 
    </div>
    <div class="col-sm-2"> 
      <a href="https://missionsharekindess.herokuapp.com/" target="">Mission Share Kindness Project</a> 
    </div>
    <div class="col-sm-2"> 
      <%= link_to "Contact Us", '/pages/contact' %>
    </div>
  <section>
      <div class="container">
        <div id="gallery"></div>
          <h2>Where It All Began...</h2>
          <div class="row"><!-- row 0 -->
            <div class="col-md-3">
              <div class="photo photo-type-line">
                <a href="https://www.ownlittleworldartistry.com/" class="photo-hover">
                  <div class="photo-info">
                    <div class="headline">Katie Laguna</div>
                    <div class="line"></div>
                    <div class="desc">Where Classic Art Meets Digital Art</div>
                  </div>
                  <div class="mask"></div>
                </a>
                <div class="photo-img">
                  <%= image_tag("Katie_HS.jpg", style: 'height:50%;width:auto;') %>
                </div>
              </div>
            </div>
            
            <div class="col-md-9">
              <div class="photo photo-type-line">
                <a href="https://instagram.com/laguna_media.arts/" class="photo-hover">
                  <div class="photo-info">
                    <div class="headline">Vincent Laguna</div>
                    <div class="line"></div>
                    <div class="desc">The Convergance of a Different Perspective with the Technical</div>
                  </div>
                  <div class="mask"></div>
                </a>
                <div class="photo-img">
                  <%= image_tag("Vincent_HS.jpg", style: 'height:50%;width:auto;') %>
                </div>
              </div>
            </div>
          
          </div><!-- row 0 -->
        </div><!-- gallery -->
      </div><!-- container -->
    </section>  
  </section>
  </body>
</html> 
